@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('font-awesome.min.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;

  
}
.contactuswrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.aboutusSection1{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.mainHeadingDiv{
    display: flex;
    text-align: center;
    width: 90%;
    background: pink;
    flex-direction: column;
    align-items: center;
   
    /* margin-left: 10px; */
}
.maintxtDiv{
    display: flex;
}
.leftdiv{
    width: 40%;
}
.rightdiv{
    width: 40%;
}
.centerdiv{
    width: 20%;
}
.centerdiv img{
    width: 100%;
}