
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('font-awesome.min.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;

  
}


/* main contaner css start*/
.wrappper{
    width:100%;
    
    display: flex;
    flex-direction: column;
  
}
/* main contaner css end */

/* header css start */
a{
    color: black;
}
.fa-color{
    
    color: #00c1c1;
    
}

header{
    /* background-color: aqua; */
    height: 80vh;
    width: 100%;
    background-image: url('../media/header/sssss.jpg');
    background-size: cover;
    background-position: center;
   
    
}
.logo{
    color:white;
    font-size: 25px;
    font-weight:700 ;
    
}
nav{
    min-height: 10vh;
    width: 100%;
    background-color: #00c1c1;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
   
}
nav .navitem{
    display: flex;
    justify-content: space-evenly;
    order:2; 
}
.navitem li{
    padding:10px;
   
}
.navitem li a{
    color:white;
}

.check{
    color:aliceblue;
    order: 3;
    
    
}
.checkbtnSpan{
    background: #000;
    font-size: 18px;
}

#check{
    display: none;
}
.checkbtn{
    font-size: 18px;
    color: aliceblue;
    order:3;
    display: none;
}
.Nava{
    color: black;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 500;
    color:rgb(153, 0, 241);
}
.Nava:hover{

    color:rgb(153, 0, 241);
    transition: all 1s;
}
.Nava::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    color: black;
    background-color: rgb(153, 0, 241);
    transition: all 0.3s;

}
.Nava:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    color: black;
    background-color: rgb(153, 0, 241);
    transition: all 0.5s;
}


/* header css end */

/* aboutus css start */
.aboutusSection{
    min-height: 40vh;
    margin-top: 5px;
    width: 100%;
    display: flex;   
    justify-content: space-around; 
}

.aboutusH1{
    width: 30%;
    text-transform: uppercase;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 46px;
    /* color: rgb(153, 0, 241); */
    color:rgba(0, 193, 193, 1)
    
    
    
}

.aboutusSection .infoDiv{
    width: 65%;
    text-align:center;
    display: flex;
    align-items: center;
}
.infoDiv .aboutTxt{
    line-height:2.6;
    
  }

/* aboutus css end */

/* product css start */
.productSection{
    min-height: 50vh;
    width: 100%;
    background-color: #ebedee;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.proudctH1{
    margin: 20px;
   color: rgba(0, 193, 193, 1)
}

.productSection .productListDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.productListDiv .product{
    width: 25%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
background: #74CCCC;
background: linear-gradient(135deg, #74CCCC, #4B3BCA);
    
}
.product img{
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    object-fit: contain;
    background-position: center;
    

}
.product img:hover{
    /* width: 110%; */
    height: 220px;
    transition: all 2s;
}
/* product css end */

/* contactus css start */
.contactusSection{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contactusSection .infoDiv{
    
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactDetail{
    
    display: flex;
    min-height: 25vh;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 14px;
    line-height: 1.6em;
     
}
.contactDetail p{
    color: #00c1c1;
}

/* contactus css end */

/* mapDiv */
.mapDiv{
    text-align: center;
    margin: 10px;
}
/* mapDiv end*/

/* footer css strart  */
footer{
    /* background-color: rgb(105,105,105); */
    background-color:#00c1c1;
    min-height: 10vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebedee;
    margin-top: 5px;
}


@media screen and (max-width : 992px){
    
    header{
        height: 60vh;
        width: 100%;
        
            
    }
    header nav{
        width: 100%;
        background: transparent;
    }
  .aboutusSection{
    margin-top: 10px;
    width: 99%;
    display: flex;
    justify-content: space-evenly;

  }
  .aboutusH1{
    
    width: 30%;
    font-size: 32px;
  }
  .aboutusSection .infoDiv{
    width: 60%;
    font-size: 18px;
    color: black;
    
  }

   
  
    footer{
        font-size: medium;
    }

}
/* footer css end  */

@media screen and (max-width :830px){
    header{
        min-height: 60vh;
        width:100%;
        background-size:cover ;
        background-position: center;
        background-repeat: no-repeat;
    }
    .aboutusSection{
        margin-top: 30px;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        line-height:2; 
    }
    .aboutusH1{
        width: 100%;
        /* text-align: center; */
    }
     .aboutusSection .infoDiv{
        width: 100%;
        color: black;
    }
    .aboutTxt {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: flex-start;
     
        min-height: 30vh;
}
.contactusSection{
    min-height: 90vh;
    
    
}
.contactusSection .infoDiv{
    
    min-height: 80vh;
    display: flex;
    flex-direction: column;

}


    footer{
        font-size: 14px;
    }
}

/* @media only screen and (max-width:600px){ */
@media  screen and (max-width:767px){
    .wrappper{
        background-color: #000;
        width: 100%;
    }
    header{
        height: 59vh;
        width:100%;
        background-size:contain ;
        background-position: center;
        /* background-position: center; */
        /* background-repeat: no-repeat; */
    }
    .logo{
        color: black;
        font-size: 25px;
    }
     nav{
        background-color:rgba(3, 3, 3, 0.15);
    
        
    }
     nav .navitem{
        position: fixed;
        width: 100%;
        height: 40vh;
        
       
        background-color: rgba(0, 0, 0, 0.15);
        /* background-color: aqua; */
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: start;
        /* top:72px; */
        top:114px;
        left: -100%;
        text-align: center;
        transition: all 2s;    
    }
      .checkbtn{
        display: flex;
        font-size: 25px;
        color:#000;
        font-weight:bolder;
        
    }
    #check:checked ~.navitem{
        left: 0;
    }
   
    .navitem li a{
        font-size: 18px;
    }
      .productSection .productListDiv{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
     
    }
    .productListDiv .product{
        width: 45%;
        height: 250px;
                
    }
    .productSection .productListDiv{
        justify-content: center;
    }

       .aboutusSection{
    
        display: flex;
        flex-direction: column;
        line-height:2.5;
      
    }
    .aboutusH1{
        width: 100%;
        text-align: center;
    }
     .aboutusSection .infoDiv{
        width: 100%;
      
    }

    footer{
        min-height: 12vh;
        font-size: 16px;
        
        
    }
}
 


@media screen and ( max-width:600px){
  
    header{
        height: 30vh;
        width:100%;
        background-size:contain ;
        background-position: center;
     
       
    }
    nav{
        justify-content: space-around;
    }
  
    nav .navitem{
        /* position: fixed; */
       
        width: 100%;
        
        min-height: 40vh;
        background-color: rgba(0, 0, 0, 0.15);
        top:115px;
    }
@media  screen and (max-width:480px){ 
    header{
        min-height: 38vh;
        background-size: contain;
        background-position: center;
    }
    footer{
        min-height: 12vh;
        font-size: 14px;
        
        
    }
 
}
@media  screen and (max-width:380px){ 
    header{
        min-height: 38vh;
        background-size: contain;
        background-position: center;
    }
   
    .productListDiv .product{
        width: 40%;
        height: 200px;

    }
    .aboutusSection .infoDiv{
        font-size: 14px;
    }
    .contactDetail p{
        font-size: 14px;
    }

    footer{
        min-height: 10vh;
        font-size: 10px;
        
        
    }
 
}



}